@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: #212121;
}

code {
  font-family: monospace;
  line-height: 1;
}

.loading2 {
  animation-delay: .3s;
}

.loading3 {
  animation-delay: .6s;
}

.btn {
  @apply px-6 py-1 outline-none transition-all bg-amber-500
}